#lightbox{
  display: none;
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #FAFAFA;

  .lb-container{
    color: #911C1C;
    display:flex;
    justify-content:space-between;
    align-self: center;
    // flex-wrap: wrap;
    position:relative;
    border-radius: 5px;
    // border:1px solid black;
    // background-color: #DB8876;
    font-size: 42px;
    width: 90%;
    // height:100%;
    align-items: stretch;
    // padding: 35px;
    margin: 15px 86px;
    padding: 62px 0 22px 0;
    left: 0;
    top: 0; 
  }
  .lb-right-col{
    display:flex;
    flex-direction: column;
     width: 94px;
    // align-items: stretch;
    height: inherit;
    button{
      display: inline-flex;
      align-items: flex-start;
      height:50%;
      :hover, :focus, :active{
        cursor: pointer;
        box-shadow: none;
      }
      
    }
  }
  button{
    background-color: inherit;
    border:0;
    font-size: 24px;
    font-weight: 400;
    color:#901C1C;
     
    &:hover, &:focus, &:active{
        cursor: pointer;
        box-shadow: none;
    }

    &i.fa-angle-left{
      text-align: center;
      align-self: center;
      height:100%;
      width:94px;

    }
    &i.fa-angle-right{

      margin-top:-0.5em;

    }

  }
  
  .media-wrapper {
    width:auto;
    margin:0;
    padding:0;
    font-size: 24px;
    font-weight: 400;
    color:#901C1C;
  }
  img, video{
    width:100%;
    max-width:1050px;
    min-width:420px;
    max-height:800px;
    min-height:360px;
    height:auto;
    object-fit:cover;
  }
  .lb-title{
    margin:0;
    padding:0;
    // order:1;
    // flex-grow: 3;
    // flex:1;
  }
  .li-media{
    display:none;
    
  }
  
}
