.photograph-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    width:auto;
    margin: 0 100px;
    padding: 1em 3em;
    .div-identity{
        max-width:33%;
    }
    .picture-identity{
        
        object-fit:cover;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        box-shadow: 5px 5px 10px #bebebe;
    }
    h1 {
        font-weight: 400;
        line-height: 83px;
        color: #D3573C;
        font-size: 64px;
        margin:0px 0;
    }
    .p-localization {
        color: #901C1C;
        font-size: 24px;
        margin:25px 0;
    }
    p {
    
        font-size:18px;
        margin:25px 0;
        
    }
    .sticky-note{
        position: fixed ;
        margin:0;
        padding: 0;
        bottom: 0;
        right:50px;
        background-color: #DB8876;
        
        
        border-radius: 5px 5px 0 0;
        p{
            margin:0;
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            line-height: 31px;
            padding:20px;
            
        }
        .fa-heart{
            padding-right:90px;
        }
    }
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}


#contact_modal {
    display: none;
    position:fixed;
    z-index: 11;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
    
}


.modal {
    position:relative;
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    height:87%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 0 -30%;
    left: 60%;
    top: 3%; 
    
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height:auto;
    margin:auto;
    
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin:0;
}


form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}
form textarea {
    width: 100%;
    font-size: 36px;
    height: 4em;
    border: none;
    border-radius: 5px;
}

/* Error message box */
.error {
	display: none;
    width :fit-content;
	text-align: left;
	margin-left:0;
    padding: 0.5em 0 0;
    font-size: 20px;
  color: rgb(101, 0, 0);
  /* background-color: rgb(255, 0, 0); */
  border-radius: 0 5px 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
	display: inline-block;
}

.medias-section{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px, 3fr));
    grid-gap: 0 50px;
    margin: 20px 100px;

    // :first-child{
    //     grid-column: 1 / -1;
    // }

   
    article{
        
        justify-self: center;
        display:flex;
        flex-direction: column;
        width:350px;
        height:auto;
        margin : 10px 0;
        
        div {
            display: flex;
            justify-content: space-between;

            p{
                font-size: 24px;
                font-weight: 400;
                color: #901C1C;
                margin :5px;
                .bigger-font-weight{
                    font-weight: 500;
                }
            }
        }

        img, video{
            width:100%;
            height:300px;
            object-fit:cover;
            border-radius: 5px;
        }
    }
}

.sort-command{
    font-size: 18px;
    font-weight: 700;
    margin-left: 94px;
    margin-top:20px;
    z-index: 10;
    padding:0;
    position: relative; 
}

#menu-vertical, #menu-vertical ul {
    padding:0;
    margin:0;
    list-style:none;
    width: 180px; /* seule ligne rajoutée */
    
    
    
}
  
#menu-vertical li {
    z-index: inherit;
    margin:0;
    padding: 20px;
    position: relative;
    display:flex;
    justify-content: space-between;
    cursor: pointer;
    &.sort-heading{
        cursor:auto;
    }
    
    :first-child:before{
        border-bottom:none;
    }

    :before {
        content : "";
        position: absolute;
        left    : 5%;
        top  : 0;
        margin:auto;
        height  : 1px;
        width   : 90%;  /* or 100px */
        border-bottom:1px solid white;
      }

    .checked-up:after{
        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f077"; // up : f077 ; down : f078
    }

    .checked-down:after{
        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f078"; // up : f077 ; down : f078
    }
}

#menu-vertical a:visited {
    color:unset;
}

#menu-vertical a {
    display:block;
    text-decoration: none;
    background-color: unset;
    outline-offset: unset;
    border-radius : unset;
    box-shadow: unset;
}

#menu-vertical ul {
    position: absolute;
    left:110px;
    background: #911C1C;
    color:white;
    border-radius: 5px;
    top:0;
}

#menu-vertical li:hover ul {
    left: 110px;
    top:0;
} 