

.photograph-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    width:auto;
    margin: 0 100px;
    padding: 1em 3em;
    .div-identity{
        max-width:33%;
    }
    .picture-identity{
        
        object-fit:cover;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        box-shadow: 5px 5px 10px #bebebe;
    }
    h1 {
        font-weight: 400;
        line-height: 83px;
        color: #D3573C;
        font-size: 64px;
        margin:0px 0;
    }
    .p-localization {
        color: #901C1C;
        font-size: 24px;
        margin:25px 0;
    }
    p {
    
        font-size:18px;
        margin:25px 0;
        
    }
    .sticky-note{
        position: fixed ;
        margin:0;
        padding: 0;
        bottom: 0;
        right:50px;
        background-color: #DB8876;
        
        
        border-radius: 5px 5px 0 0;
        p{
            margin:0;
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            line-height: 31px;
            padding:20px;
            
        }
        .fa-heart{
            padding-right:90px;
        }
    }
}



.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}


#contact_modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    // overflow:hidden;
    background-color: #FAFAFA;

}


.modal {
    position:relative;
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 0 -30%;
    left: 60%;
    top: 80px; 
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height:auto;
    margin:auto;
    
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin:0;
}


form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}
form textarea {
    width: 100%;
    font-size: 36px;
    height: 4em;
    border: none;
    border-radius: 5px;
}

.medias-section{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px, 3fr));
    grid-gap: 0 50px;
    margin: 20px 100px;

    article{
        justify-self: center;
        display:flex;
        flex-direction: column;
        width:350px;
        height:auto;
        margin : 10px 0;
        // object-fit:none;
        div {
            display: flex;
            justify-content: space-between;

            p{
                font-size: 24px;
                font-weight: 400;
                color: #901C1C;
                margin :5px;
                .bigger-font-weight{
                    font-weight: 500;
                }
            }
        }

        img, video{
            width:100%;
            height:300px;
            object-fit:cover;
            border-radius: 5px;
        }
        
        
    }
}