@import "./photographer.scss";
html{
    font-size: 100%; /* 16px par défaut */
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5.625em;
    margin-top:1em;
}

p{
    font-size: 0.813em;
    margin:1.25em;
}

h1 {
    color: #901C1C;
    margin-right: 2em;
}

a:link, a:active{
    color:inherit;
    text-decoration: none;
}
a:hover, input:hover, button:hover, select:hover,
a:focus, input:focus, button:focus, select:focus,
.close-btn:focus, .close-btn:hover, .close-btn.activate {
  background-color: #d6d6d6;
  outline-offset: 0.5em;
  outline: 1px solid rgb(32, 11, 77);
  border-radius : 5px;
}

.logo {
    height: 3.125em;
    margin-left: 5em;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
    margin-top: 5em;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width : 100%;
}

.photographer_section a{
    width:100%;
    text-align: center;
    &:hover{
        background: #f6f6f6;
    }
}

.photographer_section article h2 {
    font-weight: 400;
    color: #D3573C;
    font-size: 2.25em;
    margin-bottom: 0;
    margin-top:1.25em;
}
.photographer_section article h3 {
    color: #901C1C;
    font-size: 0.813em;
    margin: 0;
}
.photographer_section article p {
    
    font-size: 0.625em;
    margin: 0.313em;
    &.sub-line{
        color:#757575;
        font-size:0.563em;
        margin:0;
    }
}

.photographer_section article img {
    object-fit:cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #bebebe;
}

.visually-hidden {
	position: absolute  ;
	width: 1px  ;
	height: 1px  ;
	padding: 0  ;
	margin: -1px  ;
	overflow: hidden  ;
	clip: rect(0,0,0,0)  ;
	white-space: nowrap  ;
	border: 0  ;
}
